NEXT_PUBLIC_PRIVY_APP_ID=
PRIVY_APP_SECRET=
NEXT_PUBLIC_CREATOR_WALLET_ADDRESS=
NEXT_PUBLIC_KICK_STREAM_MODE=offline
NEXT_PUBLIC_EMOTEPAY_CONTRACT_ADDRESS=0x1dce4f6c02834907fb06B097bc62FC83e13ccF0A
NEXT_PUBLIC_EMOTEPAY_V3_CONTRACT_ADDRESS=0x3AF2ADcF3e58a80710d406d0917b5f14FD78F9C4
MONAD_TESTNET_RPC_URL=
DEPLOYER_PRIVATE_KEY=
EMOTEPAY_RELAYER_PRIVATE_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
RELAY_IP_RATE_LIMIT=20
RELAY_DONOR_RATE_LIMIT=5
RELAY_RATE_LIMIT_WINDOW=60 s
